* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: -apple-system, sans-serif;
}

:root {
    --bg-color: #000;
    --snd-bg-color: #fff;
    --trd-bg-color: #1D0200;
    --text-color: #000;
    --main-color: #98302e;
}

html {
    font-size: 55.0%;
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
    color: var(--snd-bg-color);
}

section {
    min-height: 100vh;
    padding: 10rem 20% 2rem;
}

/* Header Section Code */

.header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 5%;
    background-color: var(--bg-color);
    backdrop-filter: blur(10px);
    transition: ali 0.5s ease;
}

.logo {
    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover {
    transform: scale(1.05);
}

.navbar a {
    font-size: 1.9rem;
    color: var(--snd-bg-color);
    margin-left: 4rem;
    font-weight: 700;
    transition: 0.3s ease;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
    padding-bottom: 0.5rem;
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--snd-bg-color);
    cursor: pointer;
    display: none;
}

/* Home Section Code */

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img {
    width: 22vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    animation: floatImage 4s ease-in-out infinite;
    transition: 0.4s ease;
}

.home-img img:hover {
    box-shadow: 0 0 25px var(--main-color),
                0 0 35px var(--main-color),
                0 0 45px var(--main-color);
}

@keyframes floatImage {
    0% {
        transform: translate(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0)
    }
}

.home-content {
    margin-left: 5rem;
}

.home-content h3 {
    font-size: 3.7rem;
    font-weight: 700;
}

.home-content h3:nth-last-of-type(2) {
    margin-bottom: 2rem;
}

.home .multiple-text {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    font-size: 1.6rem;
    text-align: justify;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color:var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
}

.social-media a:hover {
    transform: scale(1.2) translateY(-10px);
    background-color: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 25px var(--main-color);
}

.btn-group {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: var(--main-color);
    border-radius: 4rem;
    box-shadow: none;
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease;
}

.btn:hover {
    box-shadow: 0 0 1.6rem var(--main-color)
}

/* About Section Code */

.about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background: var(--main-color);
}

.about-img img {
    width: 22vw;
    border: 2px solid var(--trd-bg-color);
    border-radius: 50%;
    box-shadow: 0 0 25px var(--trd-bg-color);
    cursor: pointer;
    transition: 0.4s ease;
}

.about-img img:hover {
    box-shadow: 0 0 25px var(--trd-bg-color),
                0 0 35px var(--trd-bg-color),
                0 0 45px var(--trd-bg-color);
}

.about .heading {
    font-size: 6rem;
    text-align: left;
    color: #000;
}

.about-content {
    padding: 0 4rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 3rem;
    color: #000;
}

.about .multiple-text {
    color: var(--snd-bg-color);
}

.about-content p {
    font-size: 1.8rem;
    margin: 2rem 0 3rem;
    color: #000;
    text-align: justify;
}

.btn2 {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: var(--bg-color);
    border-radius: 4rem;
    box-shadow: none;
    font-size: 1.6rem;
    color: var(--main-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease;
}

.btn2:hover {
    box-shadow: 0 0 1.6rem var(--bg-color);
}

/* Services Section Code */

.services h2 {
    margin-bottom: 5rem;
    text-align: center;
    color: var(--snd-bg-color);
}

.services .multiple-text {
    color: var(--main-color);
}

.services .heading {
    font-size: 6rem;
    text-align: center;
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-container .services-box {
    flex: 1 1 30rem;
    background: var(--main-color);
    padding: 6rem 2rem 6rem;
    border-radius: 2rem;
    text-align: center;
    border: 0.3rem solid var(--main-color);
    transition: 0.3s ease;
}

.services-container .services-box:hover {
    border-color: var(--trd-bg-color);
    transform: scale(1.02);
    box-shadow: 0 0 1.6rem var(--main-color);
}

.services-box i {
    font-size: 7rem;
    color: var(--trd-bg-color);
}

.services-box h3 {
    font-size: 1.6rem;
}

.services-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

/* Skills Section Code */

.skills {
    background-color: #98302e;
}

.skills-box {
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.skills .heading {
    font-size: 6rem;
    text-align: center;
    color: #000;
}

.skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.skills-container .skills-box {
    flex: 1 1 30rem;
    background: var(--bg-color);
    padding: 6rem 2rem 6rem;
    border-radius: 2rem;
    text-align: center;
    border: 0.3rem solid var(--bg-color);
    transition: 0.3s ease;
}

.skills-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
    box-shadow: 0 0 1.6rem var(--bg-color);
}

.skills h2 {
    margin-bottom: 5rem;
    text-align: center;
    color: var(--snd-bg-color);
}

.skills-box p {
    font-size: 1.5rem;
    text-align: center;
}

/* Contact Section Code */

.contact {
    background-color: var(--bg-color);
}

.contact h2 {
    margin-bottom: 3rem;
    color: var(--snd-bg-color);
}

.contact .multiple-text {
    color: var(--main-color);
}

.contact .heading {
    font-size: 6rem;
    text-align: left;
}

.contact form {
    max-width: 80rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--main-color);
    background-color: var(--bg-color);
    border-radius: 0.8rem;
    border: 0.25rem solid var(--main-color);
    margin: 0.7rem 0;
    resize: none;
}

.contact form .input-box input {
    width: 49%;
    margin: 0.7rem 0.35rem;
}

.contact form .btn {
    margin-top: 2rem;
}

/* Footer Section Code */

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: var(--main-color);
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: var(--bg-color);
    border: 2px solid var(--main-color);
}

.footer .social a {
    font-size: 25px;
    color: var(--bg-color);
    border: 2px solid var(--bg-color);
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease;
}

.footer .social a:hover {
    transform: scale(1.2) translateY(-10px);
    background-color: var(--bg-color);
    color: var(--main-color);
    box-shadow: 0 0 25px var(--bg-color);
}

.footer .copyright {
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    color: var(--text-color);
}

/* Responsive Design Code */

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }
    section {
        padding: 10ren 3%;
    }
    .services {
        padding: 7rem;
    }
    .skills {
        padding: 7rem;
    }
    .contact form .input-box input {
        width: 100%;
    }
    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 991px) {
    #menu-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 255px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        transition: all 0.5s ease;
        backdrop-filter: blur(10px);
    }
    .navbar a {
        display: block;
        padding: 17px;
        font-size: 22px;
    }
    .navbar.active {
        right: 0;
    }
    .home {
        flex-direction: column;
    }
    .home-content h3 {
        font-size: 2.6rem;
    }
    .home-content h1 {
        font-size: 5rem;
    }
    .home-content {
        order: 2;
        margin-left: 1rem;
    }
    .home-img img {
        width: 50vw;
        margin-top: 4rem;
    }
    .about {
        flex-direction: column-reverse;
    }
    .about-img img {
        width: 50vw;
        margin-top: 4rem;
    }
    .services h2 {
        margin-bottom: 3rem;
    }
}

@media (max-width: 617px) {
    .home-img img {
        width: 50vw;
        margin-top: 8rem;
    }
    .about-img img {
        width: 50vw;
        margin-top: 8rem;
    }
}

@media (max-width: 617px) {
    html {
        font-size: 50%;
    }
}
